<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/css-script') %>
  <title>Document</title>
  <style>
    .card-img-top {
      height: 250px;
      display: block;
    }
  </style>
</head>
<body>
  

<%- include('partials/nav') %>

<div class="row">
  <% listProduct.forEach(e  => { %>
      <div class="col-md-3 mb-3">
          <div class="card mb-3 h-100" style="margin-bottom: 20px;">
              <img src="<%= e.imageURL %>" class="card-img-top" alt="error img">
              <div class="card-body d-flex flex-column">
                  <h5 class="card-title">
                      <%= e.name %>
                  </h5>
                  <p class="card-text">
                      <%= e.description %>
                  </p>
                  <div class="mt-auto">
                      <div class="row">
                          <div class="col-md-6">
                              <a href="/product/<%= e.id %>" class="btn btn-primary">See details</a>
                              <% if (user.role === "admin") { %>
                                <a href="/arts/<%= e.id %>/delete" class="btn btn-danger">Delete</a>
                              <% } %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <% }) %>
    </div>

  <%- include('partials/javascript') %>
  <script type="text/javascript" src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/search/search.min.js"></script>
  <script type="text/javascript" src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/mdb5/standard/core.min.js"></script>
  <script src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/dist/main.min.js"></script>
</body>
</html>